<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Spring-Boot Básico</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" th:href="@{/image/_boi_preto.jpg}" />

	<!-- Bootstrap core CSS -->
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
	
	<!-- Custom styles for this template -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
    <body>
        <div class="container" style="width: 900px; background-color: #ffffff; margin: 50px auto 0px auto;box-shadow: 0px 0px 10px black; padding: 10px;">
                <div class="form-group">
                    <label for="exampleDropdownFormEmail2">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@exemplo.com">
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword2">Senha</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Senha">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                    <label class="form-check-label" for="dropdownCheck2">
                    Lembrar de mim
                    </label>
                </div>
                <a class="btn btn-primary" th:href="@{menu}" role="button">
                    <i class="fas fa-sign-in-alt ts-opacity__80 pr-2"></i>
                    <span>Entrar</span>
                </a>
        </div>
                    
			<!-- Bootstrap core JavaScript
		    ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
			<script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
			<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
			<script type="text/javascript">
			
				var url = '';
				
				$('button[id*="btn_"]').click(function() {
					url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];
				});
				
				$('#ok_confirm').click(function() {
					document.location.href = url;
				});
			    
				$(function() {
					$('[data-toggle="popover"]').popover();
				});
				
				$(document).ready(function(){
				    $(".navbar-toggle").click(function(){
				        $(".menu").toggleClass("menu-open");
				    })
				});
		
			</script>         
			  
    </body>
    
</html>
