<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Sitio Nova Esperança</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" th:href="@{/image/_boi_preto.jpg}" />

	<!-- Bootstrap core CSS -->
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
	
	<!-- Custom styles for this template -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{trata_paginas/fotos.css}" rel="stylesheet" >
</head>
<body>
	
		<div class="container"
			style="width: 900px; background-color: #ffffff; margin: 60px auto 0px auto; box-shadow: 0px 0px 10px black; padding: 10px;">

		<div style="margin: 20px auto 30px auto">
			<h3>Cadastro de Pessoa</h3>
		</div>
	
	        
	        	<div th:replace="fragments/alert"></div>
	        
	            <form th:action="${pessoa.id == null} ? @{/pessoa/salvar} : @{/pessoa/editar}" 
	                  th:object="${pessoa}" method="POST">
	                <div class="form-row">
	                    <div class="form-group col-md-5" style="margin-right:60px;">
	                        <label for="nome">Nome</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome Completo"
	                               autofocus="autofocus" th:field="*{nome}" 
	                               th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{nome}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-5">
	                        <label for="cpf">CPF</label>
	                        <input type="text" class="form-control" id="cpf" data-mask="000.000.000-00"
	                               th:field="*{cpf}" 
	                               th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
				        		<span th:errors="*{cpf}"></span>	
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-5" style="margin-right:60px;">
	                        <label for="email">E-mail</label>
	                        <input type="email" class="form-control" id="email" placeholder="exemplo@hotmail.com"
	                               th:field="*{email}"th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{email}"></span>
	                        </div>
	                    </div>	                
	                    <div class="form-group col-md-3" style="margin-right:210px;">
	                        <label for="dataEntrada">Data Nascimento</label>
	                        <input type="date" class="form-control" id="dataEntrada" th:field="*{dataEntrada}"
	                        	   th:classappend="${#fields.hasErrors('dataEntrada')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{dataEntrada}"></span>
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-4" style="margin-right:140px;">
	                        <label for="cep">Cep</label>
	                        <input type="text" class="form-control" id="cep" data-mask="00000-000" 
	                               th:field="*{endereco.cep}"
	                               th:classappend="${#fields.hasErrors('endereco.cep')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.cep}"></span>
	                        </div>
	                    </div>
                    	<div class="form-group">
	                        <label for="uf">UF</label>
	                        <select id="uf" class="form-control" th:field="*{endereco.uf}"
	                                th:classappend="${#fields.hasErrors('endereco.uf')} ? 'is-invalid'">
	                            <option value="">Selecione...</option>
	                            <option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf.sigla}"></option>
	                        </select>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.uf}"></span>
	                        </div>
	                    </div>	
                    </div>                
	                <div class="form-row">
	                    <div class="form-group col-md-4" style="margin-right:140px;">
	                        <label for="cidade">Cidade</label>
	                        <input type="text" class="form-control" id="cidade" th:field="*{endereco.cidade}"
	                               th:classappend="${#fields.hasErrors('endereco.cidade')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.cidade}" ></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="logradouro">Logradouro</label>
	                        <input type="text" class="form-control" id="logradouro" 
	                               placeholder="logradouro sem número" th:field="*{endereco.logradouro}"
	                               th:classappend="${#fields.hasErrors('endereco.logradouro')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.logradouro}"></span>
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-4" style="margin-right:140px;">
	                        <label for="complemento">Complemento</label>
	                        <input type="text" class="form-control" id="complemento" 
	                               placeholder="fundos, casa, AP. 102, .." th:field="*{endereco.complemento}"
	                               th:classappend="${#fields.hasErrors('endereco.complemento')} ? 'is-invalid'"/>
							<div class="invalid-feedback">
				        		<span th:errors="*{endereco.complemento}"></span>
				   			</div>	
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="bairro">Bairro</label>
	                        <input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}"
	                               th:classappend="${#fields.hasErrors('endereco.bairro')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.bairro}"></span>
	                        </div>
	                    </div>
	                </div>
	                <input type="hidden" id="id" th:field="*{id}"/>
					<input type="hidden" id="endereco.id" th:field="*{endereco.id}"/>
	                <button type="submit" class="btn btn-primary">Salvar</button>

					<button type="reset" id="btnilim" name="btnnlim"
						class="btn btn-danger">Limpar</button>

					<a class="btn btn-warning btn-md" 
						role="button" th:href="@{/pessoa/listar}"> <span>Consultar</span>
					</a>	      
					          
	            </form>
	        </div>
</body>
</html>		